[Desktop Entry]
Type=Application
Exec=sh -c "sleep 15; cd ~/Share; sudo rm -Rf data.csv; while true; do sudo -E python3 main.py; done" &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=ventilator_main
Name=ventilator_main
Comment[en_US]=
Comment=
