[Desktop Entry]
Type=Application
Exec=sh -c "sleep 15; cd ~/Share; while true; do python3 gui.py; done" &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=ventilator_gui
Name=ventilator_gui
Comment[en_US]=
Comment=
