[Desktop Entry]
Type=Application
Exec=sh -c "sleep 15; cd ~/Share; sudo rm -Rf data_flow.csv; while true; do sudo -E python flow.py; sleep 1; done" &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=ventilator_flow
Name=ventilator_flow
Comment[en_US]=
Comment=
