[Desktop Entry]
Type=Application
Name=Ventilator
GenericName=Ventilator
Exec=bash -c "cd ~/Share; sudo -E python3 main.py & python3 gui.py"
Terminal=True
